<div id="result_container">
  {{!-- <textarea type="text" class="short" id="short" value="{{url}}"> --}}
    <textarea name="short" id="short" cols="30" row="1">{{url}}</textarea>

  <button id="copyBtn">
    COPY URL
  </button>
  <a href="/">
    <button>
      back
    </button>
  </a>
</div>