{{> message}}
<div class="result_container mx-auto row">
  <div class="img col-12 mt-4">
    <input type="text" name="short" class="short" value='{{url}}'>
  </div>
  <div class="btn_container mx-auto col-9 row">
    <button type="button" class="btn btn-info col-9" id="copyBtn">COPY URL</button>
    <a href="/" class="col-1 px-0">
      <button type="button" class="btn btn-secondary" id="back">Back</button>
    </a>
  </div>
</div>